---
services:
  media-downloader-mcp:
    image: docker.io/knucklessg1/media-downloader:latest
    # build: .
    container_name: media-downloader-mcp
    hostname: media-downloader-mcp
    command: ["media-downloader-mcp"]
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    environment:
      - HOST=0.0.0.0
      - PORT=8000
      - TRANSPORT=http
      - DOWNLOAD_DIRECTORY=/downloads
      - AUDIO_ONLY=false
    volumes:
      - ./mcp/downloads:/downloads:rw
    ports:
      - "8000:8000"

  media-downloader-a2a:
    image: docker.io/knucklessg1/media-downloader:latest
    # build: .
    container_name: media-downloader-a2a
    hostname: media-downloader-a2a
    command: ["media-downloader-a2a"]
    depends_on:
      - media-downloader-mcp
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    environment:
      - "HOST=0.0.0.0"
      - "PORT=9000"
      - "MCP_URL=http://media-downloader-mcp:8000/mcp"
      - "PROVIDER=openai"
      - "OPENAI_BASE_URL=http://ollama:11434/v1"
      - "OPENAI_API_KEY=llama"
      - "MODEL_ID=qwen3:4b"
    ports:
      - "9000:9000"
